Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-CORS
psycopg2-binary
pymysql 
python-dotenv
requests
arxiv
litellm
qdrant-client
PyMuPDF         
ftfy
langchain
tiktoken>=0.5.2,<0.6.0
openai==1.23.0
